/* Estilos Padrão */
h1,
h2,
h3,
p {
  margin: 0px;
  color: #ffffff;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

body {
  margin: 0;
  background: #000000;
  font-family: poppins;
}

header .logo {
  width: 6rem;
  margin-left: 1rem;
}

img {
  max-width: 100%;
}
/* FIM Estilos Padrão */
