.produto-2 img {
  width: 218px;
  height: 286px;
  max-width: 100%;
  border-radius: 3px;
}

.produtos-2 {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  padding: 3rem;
  justify-content: center;
}

.produto-2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.produto-2 h2 {
  font-weight: normal;
  font-size: 1.3rem;
  width: 208px;
  text-align: center;
}

.produto-2 p {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

.produto-2 a {
  display: inline-block;
  text-decoration: none;
  background: #ffffff;
  color: #222a1c;
  padding: 1rem 2rem;
  border-radius: 3px;
  font-size: 1.2rem;
  transition: 0.1s;
}

.produto-2 a:hover {
  background: #345f13;
  color: #ffffff;
}

.container-2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: auto;
  align-items: center;
}

.title-fav {
  position: relative;
}

.produto-2 {
  position: relative;
}

.produto-2 .favorito {
  position: absolute;
  height: 40px;
  width: 40px;
  left: 177px;
}
